<div class="grid mx-auto px-4 py-4 sm:px-8 lg:container">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-">
        <div class="md:col-span-2 xl:col-span-3">
            <div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
                <form class="max-w-screen-xl mx-auto" (ngSubmit)="filteredEmployees(searchEmployee, status, jobTitle, supervisorName, subName)">

                    <h2 class="text-lg">Employee Information</h2>

                    <hr class="w-2xl h-px mx-auto my-3 bg-gray-300 border-0 rounded md:my-3 dark:bg-gray-600">

                    <div class="grid md:grid-cols-4 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <label for="employee-full-name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-xs">Employee
                                Name</label>
                            <input type="text" id="employee-full-name" placeholder="Type for hints..." name="searchEmployee" [(ngModel)]="searchEmployee" (keyup.enter)="filteredEmployees(searchEmployee)"
                                class="text-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <label for="employee-full-id"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-xs">Employee
                                Id</label>
                            <input type="text" id="employee-full-id" placeholder="Type for hints..."
                                class="text-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <label for="employee-status"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-xs">Employment
                                Status</label>
                            <select id="employee-status" name="searchEmployeeStatus" [(ngModel)]="status" (keyup.enter)="filteredEmployees(status)"
                                class="text-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option>--Select--</option>
                                <option>Full Time</option>
                                <option>Part Time</option>
                            </select>
                        </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <label for="employee-include"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-xs">Include</label>
                            <select id="employee-include"
                                class="text-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option>--Select--</option>
                                <option>Current Employees Only</option>
                                <option>Past Employees Only</option>
                                <option>Current and Past Employees</option>
                            </select>
                        </div>
                    </div>

                    <div class="grid md:grid-cols-3 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <label for="supervisor-full-name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-xs">Supervisor
                                Name</label>
                            <input type="text" id="supervisor-full-name" placeholder="Type for hints..." name="searchEmployeeVisor" [(ngModel)]="supervisorName" (keyup.enter)="filteredEmployees(supervisorName)"
                                class="text-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <label for="job-title"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-xs">Job Title</label>
                            <input type="text" id="job-title" placeholder="Type for hints..." name="searchEmployeeJob" [(ngModel)]="jobTitle" (keyup.enter)="filteredEmployees(jobTitle)"
                                class="text-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <label for="employee-include"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-xs">Sub Unit</label>
                            <select id="employee-include" name="searchEmployeeUnit" [(ngModel)]="subName" (keyup.enter)="filteredEmployees(subName)"
                                class="text-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option>--Select--</option>
                                <option>Developer</option>
                                <option>Tester</option>
                                <option>Project Manager (PM)</option>
                            </select>
                        </div>
                    </div>

                    <div class="grid md:grid-cols-8 md:gap-2 flex justify-end">
                        <div class="col-span-6"></div>
                        <button type="submit"
                            class="text-xs text-bg-blue-700 white border-2 rounded-full border-bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cancel</button>
                        <button type="submit" (click)="filteredEmployees(searchEmployee, status, jobTitle, supervisorName, subName)"
                            class="text-xs text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="md:col-span-2 xl:col-span-3">
            <div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
                <div class="relative overflow-x-auto">
                    <button type="submit"
                    class="text-sm text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-large rounded-lg text-md w-30 sm:w-30 px-10 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">    + Add    </button>
                   
                    <hr class="w-2xl h-px mx-auto my-3 bg-gray-300 border-0 rounded md:my-3 dark:bg-gray-600">
                    
                    <div class="p-card p-card-custom">
                        <p-table class="rounded-lg" #dt [value]="employees" [tableStyle]="{'min-width': '50rem'}"
                            [rowHover]="true" [filterDelay]="0" [paginator]="true" [rows]="pageSize"
                            [totalRecords]="totalRecords"
                            (onPage)="onPageChange($event)"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Employee"
                            [rowsPerPageOptions]="[5,10,15,20,25,50]" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="firstName">First Name <p-sortIcon
                                            field="firstName"></p-sortIcon></th>
                                    <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="jobTitle">Job Title <p-sortIcon field="jobTitle"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="status">Emp Status <p-sortIcon field="status"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="subUnitName">Sub Unit <p-sortIcon
                                            field="subUnitName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="supervisorFullName">Supervisor <p-sortIcon
                                            field="supervisorFullName"></p-sortIcon></th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-employee let-subUnit let-i="rowIndex">
                                <tr>
                                    <td style="width: 15%; min-width: 4rem;">{{employee.firstName}}</td>
                                    <td style="width: 15%; min-width: 4rem;">{{employee.lastName}}</td>
                                    <td style="width: 15%; min-width: 4rem;">{{employee.jobTitle}}</td>
                                    <td style="width: 15%; min-width: 4rem;">{{employee.status}}</td>
                                    <td style="width: 15%; min-width: 4rem;">{{getSubName(employee.subUnitId)}}</td>
                                    <td style="width: 15%; min-width: 4rem;">{{employee.supperVisor?.fullName || ''}}
                                    </td>
                                    <td style="width: 20%;">
                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                            class="p-button p-component p-button-text p-button-icon-only p-button-danger"
                                            (click)="deleteEmployee(employee.id)"></button>
                                        <button pButton pRipple type="button" icon="pi pi-pencil"
                                            class="p-button p-component p-button-text p-button-icon-only"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>