<div class="grid mx-auto px-4 py-4 sm:px-8 lg:container">
    <div class="col-12 xl:col-6">
        <div class="p-card p-card-custom">
            <p-table [value]="employees" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
                        <th pSortableColumn="jobTitle">Job Title <p-sortIcon field="jobTitle"></p-sortIcon></th>
                        <th pSortableColumn="status">Emp Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="subUnitName">Sub Unit <p-sortIcon field="subUnitName"></p-sortIcon></th>
                        <th pSortableColumn="supervisorFullName">Supervisor <p-sortIcon
                                field="supervisorFullName"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee let-i="rowIndex">
                    <tr>
                        <td style="width: 5%; min-width: 4rem;">{{ i + 1 }}</td>
                        <td style="width: 15%; min-width: 4rem;">{{employee.firstName}}</td>
                        <td style="width: 15%; min-width: 4rem;">{{employee.lastName}}</td>
                        <td style="width: 15%; min-width: 4rem;">{{employee.jobTitle}}</td>
                        <td style="width: 15%; min-width: 4rem;">{{employee.status}}</td>
                        <td style="width: 15%; min-width: 4rem;">{{employee.subUnitName}}</td>
                        <td style="width: 15%; min-width: 4rem;">{{employee.supperVisor.fullName || ''}}</td>
                        <td style="width: 20%;">
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button p-component p-button-text p-button-icon-only p-button-danger"></button>
                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                class="p-button p-component p-button-text p-button-icon-only"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>