<app-leave-navbar></app-leave-navbar>
<div class="grid mx-auto px-4 py-4 sm:px-8 lg:container">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-">
        <div class="md:col-span-2 mx-5 xl:col-span-3">
            <div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
                <form class="max-w-screen-xl mx-auto">

                    <h2 class="text-lg">Working Time</h2>

                    <hr class="max-w-7xl h-px mx-auto my-3 bg-gray-300 border-0 rounded md:my-3 dark:bg-gray-600">

                    <div class="grid md:grid-cols-4 md:gap-6">
                        <div class="w-72 h-24 p-4 border rounded-lg shadow-sm bg-gray-50 flex items-center"
                            *ngFor="let card of leaveCards" (click)="loadCardItems(card.type_id)">
                            <div class="space-y-2 w-full">
                                <div class="text-4xl font-bold text-gray-800">{{ card.total }}</div>
                                <div class="flex justify-start text-xs text-gray-500 truncate">
                                    {{ card.type_name || 'No type name available' }}
                                </div>
                            </div>
                            <div class="flex justify-end w-full">
                                <div
                                    class="w-10 h-10 flex items-center justify-center bg-blue-100 text-blue-600 rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="md:col-span-2 mx-5 xl:col-span-3">
            <div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
                <div class="relative overflow-x-auto">
                    <div class="flex items-center justify-between">
                        <h2 class="text-lg font-bold text-gray-500">My Abnormal Cases</h2>
                    </div>

                    <hr class="w-2xl h-px mx-auto my-3 bg-gray-300 border-0 rounded md:my-3 dark:bg-gray-600" />

                    <div *ngIf="cardItems && cardItems.items.length > 0">
                        <p-table [value]="cardItems.items" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Date</th>
                                    <th>Abnormal Type</th>
                                    <th>Request Type</th>
                                    <th>Request Status</th>
                                    <th>Partial Days</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td>{{ item.date | date: 'yyyy-MM-dd' }}</td>
                                    <td>{{ item.abnormal_type }}</td>
                                    <td>{{ item.request_type }}</td>
                                    <td>{{ item.request_status }}</td>
                                    <td>{{ item.partial_day }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>