<nav class="flex-col bg-white px-2 py-2 sm:flex-row">
  <ul class="flex space-x-4 mt-2">
    <li *ngFor="let menu of pimMenuService.pimMenu" [ngClass]="{'ml-6': menu === pimMenuService.pimMenu[0]}">
      <a [routerLink]="menu['routerLink']" 
        [ngClass]="{
          'bg-[#FFF2E8] text-[#F66C13]': menu['selected'],
          'bg-[#F6F7F9] text-[#374151] hover:bg-[#FFF2E8] hover:text-[#F66C13]': !menu['selected']
        }"
        (click)="setSelected(menu)"
        class="block px-5 py-2 text-xs font-medium border-1 rounded-2xl transition-colors duration-300">
        {{ menu['group'] }}
      </a>
    </li>
  </ul>
</nav>
